:root{
    --cor40-es: #7fe774;
    /* 0094eb */
    --cor_padrao_es: #2dc500;

    --cor60-es: #26931a;
    /* 006aa8 */

    --cor_padrao_cl: #0080cb;

    --black: #000000; /* Fundo */
    --gris90: #010101;
    --gris70: #0d0d0d;
    --gris60: #161616; /* Bordas */
    --gris65: #333333;
    --gris50: #555555;
    --gris-txt: #e6e6e6; /* Texto */

    --url-img: url(../images/wall-es.png);
    --rgba-color: rgba(0, 0, 0, 50%);
}

*{
    transition: background-color 0.5s, color 0.5s, opacity 0.5s;
}

body{
    background-color: var(--gris90);
    color: var(--gris-txt);
}

header.index{
    background-color: var(--black);
    z-index: 1000;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-color: var(--gris65);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    div.index{
        display: flex;
        align-items: center;
        img{
            width: 50px;
        }
        h1{
            font-size: 30px;
            color: var(--cor40-es);
            cursor: default;
        }
        h1.rhy{
            color: var(--cor_padrao_es);
            margin-left: 15px;
        }
    }
    button{
        background-color: transparent;
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer;
        img{
            width: 30px;
        }
    }
}

main{
    background-image: var(--url-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-bottom: 100px;
}

main section#menu{
    position: relative;
    position: fixed;
    right: 0;
    margin-right: 20px;
    margin-top: 100px;
    background-color: var(--gris60);
    border-color: var(--gris65);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    h2{
        font-size: 20px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: var(--gris50);
        padding-bottom: 10px;
        color: var(--cor_padrao_es);
    }
    div.modo{
        margin-top: 20px;
        display: flex;
        align-items: center;
        h3{
            margin-right: 30px;
            font-size: 20px;
            color: var(--cor_padrao_es);
        }
        button{
            background-color: transparent;
            border-color: var(--gris60);
            img{
                width: 30px;
            }
        }
    }
    div.skip{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        border-bottom-color: var(--gris50);
        border-bottom-style: solid; /* Caso for ter mais opções embaixo */
        border-bottom-width: 1px;
        a{
            display: block;
            margin-bottom: 15px;
            text-decoration: none;
            button{
                display: block;
                width: 100%;
                background-color: var(--gris65);
                border-color: var(--gris50);
                color: var(--gris-txt);
                font-size: 15px;
            }
        }
    }
}

main section#menu.menu_ap{
    opacity: 1;
}

main section#menu.menu_es{
    opacity: 0;
}

section.main{
    width: 100%;
    padding-bottom: 15%;
    div{
        padding-top: 260px;
        align-items: center;
        justify-content: center;
        /* height: 100vh; */
        img{
            width: 100%;
        }
        h2{
            margin: 0px 20vb;
        }
    }
}

section.main,
section.sobre,
section.melhor,
section.mais_baixados,
section.lancamentos,
section.baixar{
    border-bottom-color: var(--gris65);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

section.main div h2,
section.sobre div h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 20px;
    line-height: 1.3;
}

section.main div h1,
section.sobre div h1,
section.melhor h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    margin: 0px 40px;
    margin-bottom: 40px;
}

section.sobre{
    background-color: var(--rgba-color);
    padding-top: 16%;
    padding-bottom: 16%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    div.sobre-1{
        display: flex;
        align-items: center;
        img{
            width: 70%;
            margin-left: 30px;
        }
        h3{
            font-size: 40px;
            color: var(--cor_padrao_es);
        }
    }
    div.sobre-2{
        h1{
            margin-left: 20%;
        }
        h2{
            margin-left: 20%;
            margin-right: 30px;
        }
    }
}

section.melhor{
    background-color: var(--rgba-color);
    h1{
        padding-top: 5%;
    }
    div{
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: space-between;
        div.melhor-1,
        div.melhor-2,
        div.melhor-3,
        div.melhor-4,
        div.melhor-5{
            align-items: center;
            text-align: center;
            display: inline;
            border-color: var(--gris50);
            border-width: 1px;
            border-style: solid;
            border-radius: 10%;
            margin: 0px 10px;
            padding: 2% 0px;
        }
        div{
            img.capas-inter{
                width: 70%;
                border-radius: 15%;
            }
            h4{
                font-size: 20px;
                margin: 5px 0px;
                color: var(--gris-txt);
            }
            h5{
                font-size: 15px;
                line-height: 20px;
                margin-bottom: 20px;
            }
            h6{
                margin-bottom: 10px;
            }
            a{
                text-decoration: none;
                color: var(--cor_padrao_es);
                font-size: 20px;
            }
        }
    }
    h3{
        margin-top: 40px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
}